@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Импорт словаря</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <div class="ui container">
        <div style="height: 20px"></div>
        <form method="post" enctype="multipart/form-data" action="/import/upload">
            <div>
                <label for="file">Choose file to upload</label>
                <input type="file" id="file" name="archive">
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
