@model Dictionary.WebApi.ViewModels.Home.HomeIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Словарь</title>
</head>
<body>
Список слов
    

@foreach (var word in Model.Words)
{
    <div>
        <b>@word.Name</b>&nbsp;&mdash;&nbsp;@word.Translation
    </div>
}
</body>
</html>
